{% extends 'base.html.twig' %}

{% block content %}
        <h1>Une erreur est survenue</h1>
        <h2>Le serveur a retourné une erreur "{{ status_code }} {{ status_text }}".</h2>

        <div>
            Pour revenir à la page d'accueil, cliquer <a href="/">ici</a>
        </div>
{% endblock %}
